<template shadowrootmode="open">
    <!-- Shadow DOM styles -->
    <link rel="stylesheet" href="/components/contact/form.css">

    <div part="wrapper">
        <slot></slot>

        <form part="form">
            <div>
                <input type="hidden" name="date">

                <label>
                    <span>Name</span>
                    <input type="text" name="name">
                </label>

                <label>
                    <span>Submission</span>
                    <textarea name="submission"></textarea>
                </label>

                <slot name="turnstile"></slot>

                <button>Submit</button>
            </div>
            <div hidden>Thank you for submitting your story !</div>
        </form>

        <slot name="example"></slot>
    </div>
</template>

<template
        itemscope
        itemtype="urn:spreadsheets:1n98BBrnbQW3Dzgq0Go6tyJOgk2l95Ee_:1Ji5XuASqyWfqSSmJM0KGxsvJ1HGphNMpuJl26zzmZ4U:0"
        data-engine="JMESPath"
        data-query="rows[-1:]"
        slot="example">
    <strong>Latest submission by <span itemprop="name"></span></strong>
    <p itemprop="submission"></p>
</template>

<div slot="turnstile" class="cf-turnstile" data-sitekey="0x4AAAAAAAEhZ_W5F6wAHa1_" data-theme="light"></div>
